<button (click)="game()">tét</button>
<div class="game-box">
    <header>
      <div class="title">Tìm hiểu kiến thức ATGT</div>
      <div class="timer">
        <div class="time_left_txt">Thời gian còn lại</div>
        <div class="timer_sec">15</div>
      </div>
      <div class="time_line"></div>
    </header>
     <!-- section -->
    <section *ngFor="let question of questions; index as i">
        <div *ngIf="i==ques_start">
            <div class="que_text">
                <span>
                    {{question.name}}
                </span>
            </div>
            <div class="option_list">
                <div class="option" *ngFor="let option  of question.answers">
                    <span>{{option}}</span>
                </div>
            </div>
        </div>
    </section>
    
    <!-- footer -->
    <footer>
      <div class="total_que">
        <span><p>{{ques_start+1}}</p> trên <p>{{questions.length}}</p> Câu hỏi</span>
      </div>
      <button type="button" mat-raised-button color="primary" (click)="nextQuestion()">Câu tiếp theo</button>
    </footer>
  </div>