:host {
  width: 100%;
  padding: 10px;
}
textarea{
  height: 100%;
}
.form-group {
  display: flex;
  gap: 10px;
}

.custom-input {
  width: 80%;
  & textarea {
    width: 80%;
  }
}
.btn-submit {
  * {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
